# ─────────────────────────────────────────────────────────
# LOCAL CONFIGURATIONS 
# ─────────────────────────────────────────────────────────
PYTHONBREAKPOINT=ipdb.set_trace



# ─────────────────────────────────────────────────────────
# DOCKER
# ─────────────────────────────────────────────────────────
BUILDPLATFORM=linux/x86_64

# postgres container setup
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=family_budget


# expose ports to the host machine
DOCKER_APP_PORT_EXPOSE=8000
DOCKER_DATABASE_PORT_EXPOSE=5432

# application web server settings
GUNICORN_CMD_ARGS="--bind localhost:8000"


# ─────────────────────────────────────────────────────────
# APPLICATION
# ─────────────────────────────────────────────────────────
FBB__DEBUG=true
FBB__DATABASE__HOST=database
FBB__DATABASE__PORT=5432
FBB__DATABASE__USER=postgres
FBB__DATABASE__PASSWORD=postgres
FBB__DATABASE__NAME=family_budget

FBB__CACHE__HOST=cache

FBB__SENTRY_DSN=
